*.o
*.pyc
build/
dist/
wheelhouse/
*.egg-info/
.venv/
.git/
.idea/
bin/
obj/
doc/
tests/
nbproject/
.vscode/
plugins/IRIX6_64/
plugins/MACOSXX86_64/
plugins/MACOSXARM64/
plugins/*/molfile/*.so
plugins/*/tcl/